.figure {
    width: 50%;
    height: auto;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption {
    text-align: center;
    font-weight: bold;
    margin: auto;
    width: 100%;
}

.definition {
    font-weight: bold;
}

:root {
    --base-font-size: 16px;
    --theme-color   : #44A9CA;
    --base-font-family: "Futura Bk Bt";
    --cover-button-primary-background: #ff2e5c;
    --cover-button-primary-border: 1px solid #ff2e5c;
    --notice-important-background: #ffb2c3;
    --notice-tip-background: hsl(194, 100%, 90%)
  }